{% load static %}
<!DOCTYPE html> 

<html> 

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <img class="mnv" src="https://avatars.mds.yandex.net/get-images-cbir/2225738/wPUCd1uY8PdmZxCJ9iiQLQ3679/ocr"alt="img" >

<title>Магазин автомобилей</title>

</head>

<body>

<div class ="nav-menu">
    <div class = "container">
        <a href="" class="logo">CarShop</a>
        <div class= "navigators">
            <a href="" class="nav-item">Cars</a>
            <a href =""class="nav-item">All</a>
            <a href ="" class= "nav-item">Registration</a>
            <form action ="" method ="post">
                {% csrf_token %}
                <!--<input type="number" name ="first" placeholder = "form {{min_cost.cost__min}}">
                <input type="number" name="second" palceholder = "to {{max_cost.cost__max}}">
                <button type="submit">Получить</button>-->
                <input type="search" id="inputWord" name="inputWord">
            </form>
        </div>
    </div>
</div>   
{% block content %}
 {% endblock %}
 <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 <script src='{% static 'js/index.js' %}'></script> 
</body>

</html>
