{% load static %}
<!DOCTYPE html> 

<html> 

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

<title>Магазин автомобилей</title>

</head>

<body>

<div class ="nav-menu">
    <div class = "container">
        <a href="" class="logo">CarShop</a>
        <div class= "navigators">
            <a href="" class="nav-item">Cars</a>
            <a href =""class="nav-item">All</a>
            <a href ="" class= "nav-item">Registration</a>
            <form action ="" method ="post">
                {% csrf_token %}
                <input type="nomber" name ="first" placeholder = "form">
                <input type="number" name="second" palceholder = "to">
                <button type="submit">Получить</button>
            </form>
        </div>
    </div>
</div> 
<script src='{% static 'js/index.js' %}'></script>   
{% block content %}

 {% endblock %}
</body>

</html>
